

 h2{   
  color:#8B0000;
}
body{
   background-color:#000000 ;
}
h2{
text-align:center;}
h4{
  color:#8B0000;
}
p{ 
  color:#F8F8FF;
}
.column {
  width: 100%;
}

@media (min-width: 600px) {
  .column {
    width: 50%;
  }
}
h2{
font-family: 'Raleway', sans-serif;
}
